---
layout: page
title: Research Blog
permalink: /blog/
---

<div class="post">
  <article>
    {% if page._posts and page._posts.size > 0 %}
      <ul class="post-list">
        {% for post in page._posts %}
          <li>
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            {% if post.description %}
              <p>{{ post.description }}</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {% assign posts = site.posts %}
      {% for post in posts %}
        <div class="post-item">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          {% if post.description %}
            <p>{{ post.description }}</p>
          {% endif %}
          <p><small>{{ post.date | date: "%B %-d, %Y" }}</small></p>
        </div>
        <hr>
      {% endfor %}
    {% endif %}
  </article>
</div>
